
<app-banner></app-banner>

	<!-- CORE : begin -->
	<div id="core">

		<!-- CONTENT SECTION : begin -->
		<section class="content-section deal">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">

						<p><img src="assets/dummies/content_img_02.jpg" alt="" class="rounded-shadow"></p>

					</div>
					<div class="col-sm-9">

						<h2>Deal of the week!</h2>
						<p>Snowy madness in Switzerland! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.</p>
						<p class="cta-button">
							<a href="#" class="button"><i class="fa fa-list-ul"></i> See Details</a>
						</p>

					</div>
				</div>
			</div>
		</section>
		<!-- CONTENT SECTION : end -->

		<!-- BROWSE : begin -->
		<section id="browse">
			<div class="container">
				<h2>Browse</h2>
				<div class="browse-inner">
					<div class="tabs-container">
						<ul class="custom-list tab-title-list">
							<li class="tab-title"><a href="#featured-properties">Featured Properties</a></li>
							<li class="tab-title active"><a href="#top-destinations">Top Destinations</a></li>
							<li class="tab-title"><a href="#our-members">Our Members</a></li>
						</ul>
						<ul class="custom-list tab-content-list browse-contents">
							<li class="tab-content">

								<!-- BROWSE PROPERTIES : begin -->
								<div class="browse-properties">

									<ul class="custom-list tab-title-list">
										<li class="tab-title active"><a href="#featured-properties-swap" class="button">Swap</a></li>
										<li class="tab-title"><a href="#featured-properties-book" class="button">Book</a></li>
										<li class="tab-title"><a href="#featured-properties-rent" class="button">Rent</a></li>
									</ul>
									<ul class="custom-list tab-content-list">
										<li class="tab-content active"><img src="assets/dummies/map_01.jpg" alt=""></li>
										<li class="tab-content"><img src="assets/dummies/map_02.jpg" alt=""></li>
										<li class="tab-content"><img src="assets/dummies/map_03.jpg" alt=""></li>
									</ul>

								</div>
								<!-- BROWSE PROPERTIES : end -->

							</li>
							<li class="tab-content active">

								<!-- BROWSE DESTINATIONS : begin -->
								<div class="browse-destinations">

									<div class="row">
										<div class="col-sm-4">

											<!-- TOP DESTINATION 1 : begin -->
											<div class="top-destination">
												<img class="destination-thumb" src="assets/dummies/top_destination_01.jpg" alt="">
												<div class="top-destination-inner">
													<h3>London</h3>
													<a href="#" class="button"><i class="fa fa-list-ul"></i> Browse</a>
												</div>
											</div>
											<!-- TOP DESTINATION 1 : end -->

										</div>
										<div class="col-sm-4">

											<!-- TOP DESTINATION 2 : begin -->
											<div class="top-destination">
												<img class="destination-thumb" src="assets/dummies/top_destination_02.jpg" alt="">
												<div class="top-destination-inner">
													<h3>New York</h3>
													<a href="#" class="button"><i class="fa fa-list-ul"></i> Browse</a>
												</div>
											</div>
											<!-- TOP DESTINATION 2 : end -->

										</div>
										<div class="col-sm-4">

											<!-- TOP DESTINATION 3 : begin -->
											<div class="top-destination">
												<img class="destination-thumb" src="assets/dummies/top_destination_03.jpg" alt="">
												<div class="top-destination-inner">
													<h3>Paris</h3>
													<a href="#" class="button"><i class="fa fa-list-ul"></i> Browse</a>
												</div>
											</div>
											<!-- TOP DESTINATION 3 : end -->

										</div>
									</div>
									<div class="row">
										<div class="col-sm-4">

											<!-- TOP DESTINATION 4 : begin -->
											<div class="top-destination">
												<img class="destination-thumb" src="assets/dummies/top_destination_04.jpg" alt="">
												<div class="top-destination-inner">
													<h3>Rome</h3>
													<a href="#" class="button"><i class="fa fa-list-ul"></i> Browse</a>
												</div>
											</div>
											<!-- TOP DESTINATION 4 : end -->

										</div>
										<div class="col-sm-4">

											<!-- TOP DESTINATION 5 : begin -->
											<div class="top-destination">
												<img class="destination-thumb" src="assets/dummies/top_destination_05.jpg" alt="">
												<div class="top-destination-inner">
													<h3>Dubai</h3>
													<a href="#" class="button"><i class="fa fa-list-ul"></i> Browse</a>
												</div>
											</div>
											<!-- TOP DESTINATION 5 : end -->

										</div>
										<div class="col-sm-4">

											<!-- TOP DESTINATION 6 : begin -->
											<div class="top-destination">
												<img class="destination-thumb" src="assets/dummies/top_destination_06.jpg" alt="">
												<div class="top-destination-inner">
													<h3>Tokyo</h3>
													<a href="#" class="button"><i class="fa fa-list-ul"></i> Browse</a>
												</div>
											</div>
											<!-- TOP DESTINATION 6 : end -->

										</div>
									</div>

								</div>
								<!-- BROWSE DESTINATIONS : end -->

							</li>
							<li class="tab-content">

								<!-- BROWSE MEMBERS : begin -->
								<div class="browse-members">

									<!-- BROWSE MEMBERS HEADER : begin -->
									<div class="browse-members-header clearfix">

										<!-- SEARCH : begin -->
										<div class="browse-members-search">
											<form action="index.html" class="default-form">
												<input type="text">
												<button><i class="fa fa-search"></i></button>
											</form>
										</div>
										<!-- SEARCH : end -->

										<!-- PAGINATION : begin -->
										<div class="browse-members-pagination">
											<form action="index.html" class="default-form">
												<span class="select-box">
													<select name="adults">
														<option value="1">Page 1</option>
														<option value="2">Page 2</option>
														<option value="3">Page 3</option>
														<option value="4">Page 4</option>
														<option value="5">Page 5</option>
													</select>
												</span>
											</form>
										</div>
										<!-- PAGINATION : end -->

									</div>
									<!-- BROWSE MEMBERS HEADER : end -->

									<!-- BROWSE MEMBERS LIST : begin -->
									<ul class="custom-list browse-members-list clearfix">

										<!-- MEMBER 1 : begin -->
										<li class="member first-in-row">
											<a href="#" class="member-portrait"><img src="assets/dummies/portrait_04_160.jpg" alt=""></a>
											<h4 class="member-name"><a href="#">John Smith</a></h4>
											<h5 class="member-place">New York</h5>
										</li>
										<!-- MEMBER 1 : end -->

										<!-- MEMBER 2 : begin -->
										<li class="member">
											<a href="#" class="member-portrait"><img src="assets/dummies/portrait_05_160.jpg" alt=""></a>
											<h4 class="member-name"><a href="#">John Smith</a></h4>
											<h5 class="member-place">New York</h5>
										</li>
										<!-- MEMBER 2 : end -->

										<!-- MEMBER 3 : begin -->
										<li class="member">
											<a href="#" class="member-portrait"><img src="assets/dummies/portrait_06_160.jpg" alt=""></a>
											<h4 class="member-name"><a href="#">Jane Smith</a></h4>
											<h5 class="member-place">New York</h5>
										</li>
										<!-- MEMBER 3 : end -->

										<!-- MEMBER 4 : begin -->
										<li class="member">
											<a href="#" class="member-portrait"><img src="assets/dummies/portrait_07_160.jpg" alt=""></a>
											<h4 class="member-name"><a href="#">John Smith</a></h4>
											<h5 class="member-place">New York</h5>
										</li>
										<!-- MEMBER 4 : end -->

										<!-- MEMBER 5 : begin -->
										<li class="member first-in-row-medium">
											<a href="#" class="member-portrait"><img src="assets/dummies/portrait_08_160.jpg" alt=""></a>
											<h4 class="member-name"><a href="#">Jane Smith</a></h4>
											<h5 class="member-place">New York</h5>
										</li>
										<!-- MEMBER 5 : end -->

										<!-- MEMBER 6 : begin -->
										<li class="member">
											<a href="#" class="member-portrait"><img src="assets/dummies/portrait_09_160.jpg" alt=""></a>
											<h4 class="member-name"><a href="#">Jane Smith</a></h4>
											<h5 class="member-place">New York</h5>
										</li>
										<!-- MEMBER 6 : end -->

										<!-- MEMBER 7 : begin -->
										<li class="member first-in-row">
											<a href="#" class="member-portrait"><img src="assets/dummies/portrait_10_160.jpg" alt=""></a>
											<h4 class="member-name"><a href="#">John &amp; Jane</a></h4>
											<h5 class="member-place">New York</h5>
										</li>
										<!-- MEMBER 7 : end -->

										<!-- MEMBER 8 : begin -->
										<li class="member">
											<a href="#" class="member-portrait"><img src="assets/dummies/portrait_11_160.jpg" alt=""></a>
											<h4 class="member-name"><a href="#">Felix &amp; Maria</a></h4>
											<h5 class="member-place">New York</h5>
										</li>
										<!-- MEMBER 8 : end -->

										<!-- MEMBER 9 : begin -->
										<li class="member first-in-row-medium">
											<a href="#" class="member-portrait"><img src="assets/dummies/portrait_12_160.jpg" alt=""></a>
											<h4 class="member-name"><a href="#">John Smith</a></h4>
											<h5 class="member-place">New York</h5>
										</li>
										<!-- MEMBER 9 : end -->

										<!-- MEMBER 10 : begin -->
										<li class="member">
											<a href="#" class="member-portrait"><img src="assets/dummies/portrait_13_160.jpg" alt=""></a>
											<h4 class="member-name"><a href="#">John &amp; Jane</a></h4>
											<h5 class="member-place">New York</h5>
										</li>
										<!-- MEMBER 10 : end -->

										<!-- MEMBER 11 : begin -->
										<li class="member">
											<a href="#" class="member-portrait"><img src="assets/dummies/portrait_14_160.jpg" alt=""></a>
											<h4 class="member-name"><a href="#">Jane Smith</a></h4>
											<h5 class="member-place">New York</h5>
										</li>
										<!-- MEMBER 11 : end -->

										<!-- MEMBER 12 : begin -->
										<li class="member">
											<a href="#" class="member-portrait"><img src="assets/dummies/portrait_15_160.jpg" alt=""></a>
											<h4 class="member-name"><a href="#">Jane Smith</a></h4>
											<h5 class="member-place">New York</h5>
										</li>
										<!-- MEMBER 12 : end -->

									</ul>
									<!-- BROWSE MEMBERS LIST : end -->

								</div>
								<!-- BROWSE MEMBERS : end -->

							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- BROWSE : end -->

		<!-- CONTENT SECTION : begin -->
		<section class="content-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">

						<h2>About casa</h2>
						<p>Casa was made to make your travelling around the world more exciting and less expensive!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.</p>
						<p class="cta-button">
							<a href="#" class="button"><i class="fa fa-heart"></i> Get Started!</a>
						</p>

					</div>
					<div class="col-sm-6">

						<p><img src="assets/dummies/content_img_01.jpg" alt=""></p>

					</div>
				</div>
			</div>
		</section>
		<!-- CONTENT SECTION : end -->

	</div>
	<!-- CORE : end -->

	<!-- TESTIMONIALS : begin -->
	<div id="testimonials">
		<div class="container">
			<div class="testimonials-inner">

				<!-- TESTIMONIAL LIST : begin -->
				<div class="testimonial-list">

					<!-- TESTIMONIAL 1 : begin -->
					<div class="testimonial">
						<p class="portrait"><img src="assets/dummies/portrait_01_200.jpg" alt="Jenny"></p>
						<blockquote class="quote">
							<p>I had the best time of my life and all thanks to Casa! It’s so amazing, everyone should try it!</p>
							<footer><cite>Jenny - Toronto, Canada</cite></footer>
						</blockquote>
					</div>
					<!-- TESTIMONIAL 1 : end -->

					<!-- TESTIMONIAL 2 : begin -->
					<div class="testimonial">
						<p class="portrait"><img src="assets/dummies/portrait_02_200.jpg" alt="Jenny"></p>
						<blockquote class="quote">
							<p>I had the best time of my life and all thanks to Casa! It’s so amazing, everyone should try it!</p>
							<footer><cite>Jenny - Toronto, Canada</cite></footer>
						</blockquote>
					</div>
					<!-- TESTIMONIAL 2 : end -->

					<!-- TESTIMONIAL 3 : begin -->
					<div class="testimonial">
						<p class="portrait"><img src="assets/dummies/portrait_03_200.jpg" alt="Jenny"></p>
						<blockquote class="quote">
							<p>I had the best time of my life and all thanks to Casa! It’s so amazing, everyone should try it!</p>
							<footer><cite>Jenny - Toronto, Canada</cite></footer>
						</blockquote>
					</div>
					<!-- TESTIMONIAL 3 : end -->

				</div>
				<!-- TESTIMONIAL LIST : end -->

				<!-- NAVIGATION : begin -->
				<div class="navigation">
					<button class="button prev"><i class="fa fa-chevron-left"></i></button>
					<button class="button next"><i class="fa fa-chevron-right"></i></button>
				</div>
				<!-- NAVIGATION : end -->

			</div>
		</div>
	</div>
	<!-- TESTIMONIALS : end -->
