
<body >
    <div class="container bootstrap snippets bootdeys">
        <h1>Plan for day 03/05/2021</h1>
        <div class="col-md-9">
            <div class="timeline-centered timeline-sm">
                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <time datetime="2014-01-10T03:45" class="timeline-time"><span>12:45 AM</span><span>Today</span></time>
                        <div class="timeline-icon bg-bg-mauvee"></div>
                        <div class="timeline-label"><h4 class="timeline-title">First Activity</h4>
        
                        <p><img src="../../../../assets/dummies/banner_bg_01.jpg" alt="" class="timeline-img pull-left">Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial.</p></div>
                    </div>
                </article>
                <article class="timeline-entry left-aligned">
                    <div class="timeline-entry-inner">
                        <time datetime="2014-01-10T03:45" class="timeline-time"><span>9:15 AM</span><span>Today</span></time>
                        <div class="timeline-icon bg-bg-mauvee"></div>
                        <div class="timeline-label bg-bg-mauvee"><h4 class="timeline-title">Second Activity</h4>
        
                        <p><img src="../../../../assets/dummies/banner_bg_02.jpg" alt="" class="timeline-img pull-left">Caulie dandelion maize lentil collard bg-mauvees radish arugula sweet pepper water spinach kombu courgette.</p></div>
                    </div>
                </article>
                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <time datetime="2014-01-09T13:22" class="timeline-time"><span>8:20 PM</span><span>04/03/2013</span></time>
                        <div class="timeline-icon bg-bg-mauvee"></div>
                        <div class="timeline-label bg-bg-mauvee"><h4 class="timeline-title">Third Activity</h4>
        
                        <p><img src="../../../../assets/dummies/banner_bg_03.jpg" alt="" class="timeline-img pull-left">Parsley amaranth tigernut silver beet maize fennel spinach ricebean black-eyed. Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial.</p></div>
                    </div>
                    <div class="timeline-entry-inner">
                            <div class="timeline-icon timlineKlass"><i class="fa fa-plus"></i></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</body>
