		<!-- CORE : begin -->
		<div id="core" class="page-about-us">

			<!-- PAGE HEADER : begin -->
			<div class="page-header has-nav">
				<div class="container">
					<div class="page-header-inner">
						<h1>About Casa</h1>
						<ul class="custom-list breadcrumbs">
							<li><a href="index.html">Home</a> / </li>
							<li><a href="about-us.html">About Us</a></li>
						</ul>
						<nav class="page-header-nav">
							<ul class="custom-list clearfix">
								<li class="active"><a routerLink="/about">About Us</a></li>
								<li><a routerLink="/contact">Contact Us</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- PAGE HEADER : end -->

			<!-- CONTENT SECTION : begin -->
			<section class="content-section">
				<div class="container">

					<div class="row">
						<div class="col-sm-6">

							<h2>About Casa</h2>
							<p>Casa was made to make your travelling around the world more exciting and less expensive!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.</p>
							<p class="cta-button">
								<a href="#" class="button"><i class="fa fa-heart"></i> Get Started!</a>
							</p>

						</div>
						<div class="col-sm-6">

							<p><img src="dummies/content_img_01.jpg" alt=""></p>

						</div>
					</div>

				</div>
			</section>
			<!-- CONTENT SECTION : end -->

			<!-- CONTENT SECTION - OUR TEAM : begin -->
			<!-- <section class="content-section our-team">
				<div class="container">
					<div class="row">
						<div class="col-sm-5 col-sm-offset-7">

							<h2>Our team</h2>
							<p>We are a team of young passionates of travels. We needed a place to make our travels really something. That is how the idea of Casa came to life.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.</p>
							<p class="cta-button">
								<a href="#" class="button"><i class="fa fa-heart"></i> Get Started!</a>
							</p>

						</div>
					</div>
				</div>
			</section> -->
			<!-- CONTENT SECTION - OUR TEAM : end -->

		</div>
		<!-- CORE : end -->

		
