		<!-- BOTTOM PANEL : begin -->
        <aside id="bottom-panel">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">

                        <!-- ABOUT WIDGET : begin -->
                        <div class="widget about-widget">
                            <div class="widget-content">
                                <p><img src="assets/dummies/logoHostun.png" alt="Casa"></p>
                                <p>Hostun make your research easier! Our site is the solution to discover all the guesthouses, activities and experiences</p>
                            </div>
                        </div>
                        <!-- ABOUT WIDGET : end -->

                    </div>
                    <div class="col-sm-3">
                        <!-- LINKS WIDGET : begin -->
                        <div class="widget links-widget">
                            <h3 class="widget-title"><span>Quick Links</span></h3>
                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="custom-list">
                                            <li><a routerLink="">Home</a></li>
                                            <li><a routerLink="">Browse</a></li>
                                            <li><a routerLink="">About Us</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="custom-list">
                                            <li><a routerLink="">Register</a></li>
                                            <li><a routerLink="">Login</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- LINKS WIDGET : end -->
                    </div>
                    <div class="col-sm-3">

                        <!-- TWITTER WIDGET : begin -->
                       <!--  <div class="widget twitter-widget loading">
                            <h3 class="widget-title">
                                <span>Latest Tweets</span>
                                <span class="tweet-nav">
                                    <span class="tweet-nav-prev"><i class="fa fa-chevron-left"></i></span>
                                    <span class="tweet-nav-next"><i class="fa fa-chevron-right"></i></span>
                                </span>
                            </h3>
                            <div class="widget-content">
                                <div class="twitter-feed paginated" data-id="uouapps" data-limit="3" data-interval="0"><span class="loading-anim"><span></span></span></div>
                            </div>
                        </div> -->
                        <!-- TWITTER WIDGET : end -->

                    </div>
                    <div class="col-sm-3">

                        <!-- NEWSLETTER WIDGET : begin -->
                        <div class="widget newsletter-widget">
                            <h3 class="widget-title"><span>Newsletter</span></h3>
                            <div class="widget-content">
                                <p>Sign up for our newsletter!</p>
                                <form class="default-form" action="index.html">
                                    <p class="alert-message warning"><i class="ico fa fa-exclamation-circle"></i> Valid email is required!</p>
                                    <div class="input-group">
                                        <input class="required email" type="text" placeholder="Email address ...">
                                        <button><i class="fa fa-plus-circle"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- NEWSLETTER WIDGET : end -->

                    </div>
                </div>
            </div>
        </aside>
        <!-- BOTTOM PANEL : end -->
		<!-- FOOTER : begin -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">

						<!-- FOOTER TEXT : begin -->
						<p>Copyright 2021 &copy; Casa. All rights reserved. Powered by <a routerLink="">UOUapps</a></p>
						<!-- FOOTER TEXT : end -->

					</div>
					<div class="col-sm-4">

						<!-- FOOTER SOCIAL : begin -->
						<ul class="footer-social custom-list">
							<li><a routerLink="" title="Facebook"><i class="fa fa-facebook-square"></i><span>Facebook</span></a></li>
							<li><a routerLink="" title="Twitter"><i class="fa fa-twitter-square"></i><span>Twitter</span></a></li>
							<li><a routerLink="" title="Google+"><i class="fa fa-google-plus-square"></i><span>Google+</span></a></li>
							<li><a routerLink="" title="LinkedIn"><i class="fa fa-linkedin-square"></i><span>LinkedIn</span></a></li>
							<li><a routerLink="" title="Pinterest"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
						</ul>
						<!-- FOOTER SOCIAL : end -->

					</div>
				</div>
			</div>
		</footer>
		<!-- FOOTER : end -->