.row{
    margin-top:113px;
    
      margin-left: 219px;
      margin-right: -15px;
  
}
.main-wrapper-container{
    margin-top: -84px;
}

.containerImg {
    position: relative;
    width: 35%;
  }
  
  .image {
    width: 267px;
    height: 200px;
    max-width: unset;
    margin-top: 10px;
  }
  
  .overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #423338;
    overflow: hidden;
    width: 267px;
    height:0;
    transition: .5s ease;
  }
  
  .containerImg:hover .overlay {
    bottom: 0;
    height: 100%;
    
  }
  
  .text {
    color: white;
    font-family: Apple Chancery, cursive;
    font-size: 20px;
    margin-top: 15px;
    
    text-align: center;
  }
  .textImg {
    color: #f1155a;
    font-size: 20px;
    font-family: Apple Chancery, cursive;
    text-align: center;
    width: 267px;
  }
  .imageFlexStyle{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
  }
  .linkStyle{
    text-align: center;
    margin-top:30px;
  }
  .linkStyle:hover{
    color: #f1155a;
    
  }
 .searchFlex{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }
 .search-input{
   width:80%;
 }
 .form-row{
   margin-left:5px
 }